* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

.heading {
    color: #fa9191;
    text-align: center;
    text-transform: capitalize;
    font-weight: bold;
    text-shadow: 0px 2px 4px #ffe9c5;
    margin: 70px 0px;
    font-family: "Josefin Sans", sans-serif;
}

.img_div {
    display: flex;
    justify-content: center;
}

.img_div img {
    width: 250px;
    height: 300px;
}

/* For search bar */
.searchbar {
    width: 50%;
    height: auto;
    margin: 0 auto;
    text-align: center;
}

.searchbar input{
    margin: 30px 0;
    padding: 5px 10px;
    border-radius: 5px;
}
/* end of search bar */